<% provide(:title, "About") %>
<h1>About This App</h1>
<p>This app is made for one of the exercises in the Code Fellows application.
   A database of users will be shown to everyone but can only be modified by someone with 
   admin privilages. For the purposes of this app, a Code Fellows admin account has been
   made available.</p>

<p>Much of the credit for design of this app goes to Michael Hartl, the author of 
	railstutorial.org. While I made this app from the ground up as much as possible, 
	the design and implementation is very similar to the sample app made there since
	it dealt with a very similar (though more advanced) topic and was one of my two 
	primary learning sources. </p>
