<% provide(:title, "Help") %>
<h1>Help</h1>
<p>The sign-up page shows a list of users on the left. In this way, new users will 
	show up as they are made. Clicking on these users will show their name and email.</p>

<p>Although it was not strictly required, I felt that user authentication was
	important to have since users were being created, edited, and deleted. Therefore, 
	these actions are all locked to authenticated users. Thus, the user "Derek Maffett"
	can not be edited, but "Code Fellows" can be with the given password. Of course, 
	you can also make as many new profiles as you like. </p>

<ul>
	<li>Email: codefellows@example.com</li>
	<li>Password: codefellows</li>
</ul>

<p>Have fun exploring and testing the app!</p>