<div class='center hero-unit'>
	<h1>Code Fellows Sample App</h1>

	<h2>Welcome to the app. Feel free to explore!</h2>
	<%= link_to "Manage Users", signup_path, class: "btn btn-large btn-info" %>
</div>