@import "bootstrap"; 

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
} 

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
} 

.center {
	text-align: center;	
}


/* Typography */

h1, h2, h3, h4, h5, h6, p, small {
	text-align: center;
}

/* Forms */

input, select  {
  width: 100%; 
}

.users_list_item {
	list-style-type: none;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
}
